<div class='container' data-controller='posts'>
<%= form_with(model: @post, local: true, html: { class: 'my-4' }) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :body, 'Message'%>
    <%= form.text_area :body,
      placeholder: 'Say something...',
      class: 'form-control',
      rows: 3,
      'data-action': 'keypress->posts#sendMessageWhenEnter',
      required: true
    %>
  </div>

  <div class="actions">
    <%= form.submit value: 'Send',
      class: 'btn btn-primary btn-lg',
      'data-target': 'posts.submitButton'
    %>
  </div>
<% end %>
</div>
